<h1>CDS Buyers</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Balance</th>
    </tr>
  </thead>
  <tbody *ngFor="let cdsbuyer of cdsbuyers">
      <tr>
        <td>{{cdsbuyer.id}}</td>
        <td>{{cdsbuyer.name}}</td>
        <td>{{cdsbuyer.location}}</td>
        <td>{{cdsbuyer.accountBalance}}</td>
      </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary btn-sm" (click)="goBack()">go back</button>

